<a href="https://colab.research.google.com/github/lari-nunes/tde-dados/blob/main/Untitled4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
var = pd.read_csv("natacao.csv")

In [3]:
var.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4359 entries, 0 to 4358
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Sede          4359 non-null   object
 1   Ano           4359 non-null   int64
 2   Distancia     4359 non-null   object
 3   Estilo        4359 non-null   object
 4   Revesamento?  4359 non-null   int64
 5   Genero        4359 non-null   object
 6   Equipe        4359 non-null   object
 7   Atleta        4345 non-null   object
 8   Tempo         4331 non-null   object
 9   Posicao       4359 non-null   int64
dtypes: int64(3), object(7)
memory usage: 340.7+ KB

In [4]:
var.head()

,Sede,Ano,Distancia,Estilo,Revesamento?,Genero,Equipe,Atleta,Tempo,Posicao
0,Tokyo,2020,100m,Costas,0,Masculino,ROC,Evgeny Rylov,51.98,1
1,Tokyo,2020,100m,Costas,0,Masculino,ROC,Kliment Kolesnikov,52,2
2,Tokyo,2020,100m,Costas,0,Masculino,USA,Ryan Murphy,52.19,3
3,Tokyo,2020,100m,Costas,0,Masculino,ITA,Thomas Ceccon,52.3,4
4,Tokyo,2020,100m,Costas,0,Masculino,CHN,Jiayu Xu,52.51,4

In [5]:
var.describe()

               Ano  Revesamento?      Posicao
count  4359.000000   4359.000000  4359.000000
mean   1982.936453      0.169764     3.164946
std      26.928344      0.375468     1.189715
min    1912.000000      0.000000     0.000000
25%    1968.000000      0.000000     2.000000
50%    1988.000000      0.000000     4.000000
75%    2004.000000      0.000000     4.000000
max    2020.000000      1.000000     5.000000

In [6]:
var.head()

,Sede,Ano,Distancia,Estilo,Revesamento?,Genero,Equipe,Atleta,Tempo,Posicao
0,Tokyo,2020,100m,Costas,0,Masculino,ROC,Evgeny Rylov,51.98,1
1,Tokyo,2020,100m,Costas,0,Masculino,ROC,Kliment Kolesnikov,52,2
2,Tokyo,2020,100m,Costas,0,Masculino,USA,Ryan Murphy,52.19,3
3,Tokyo,2020,100m,Costas,0,Masculino,ITA,Thomas Ceccon,52.3,4
4,Tokyo,2020,100m,Costas,0,Masculino,CHN,Jiayu Xu,52.51,4

Questão 1 
Sede: Variável qualitativa categórica
Ano: Variável quantitativa contínua 
Distancia: Váriavel quantitativa contínua 
Estilo: Variável qualitativa categórica 
Revesamento: Variável qualitativa ordinal
Genero: Variável qualitativa categórica
Equipe: Variável qualitativa categórica 
Atleta: Variável qualitativa categórica 
Tempo: Variável quantitativa contínua 
Posição: Variável qualitativa categórica

Questão 2: 

Sede: Moda, por que é um valor que se repete dependendo da categoria de cada evento.
Ano: Mediana, geralmente seria por que o evento esta sendo naquele ano, por isso é continua
Distancia: Média, por que é categoria contínua, ou seja, vai medir a distância de valores.
Estilo: Moda, é um valor que se mais repete dentro do estilo de cada atleta
Revesamento: Média, pois faz a média de revesamento de acordo com cada valor do atleta
Gênero: Moda, pois é o gênero do atleta que está de acordo com o do jogador
Equipe: Média, pois esta buscando todo elemento dentro da equipe
Atleta: Moda, alguns nomes mais se repetem e outros não
Tempo: Média, por ser categórico o tempo é a medida.
Posição: Mediana, pois é a posição de cada elemento.

In [8]:
# Questão 3 
maiorNumero = var.sort_values(by="Estilo", ascending=False);
partDescMasc = maiorNumero[maiorNumero["Genero"] == "Masculino"];
atletaComMaiorParticipacao = partDescMasc.iloc[0]["Atleta"]
atletaComMaiorParticipacao

'Thomas Edwin Bruce'

In [9]:
# Questão 4
maiorNumero = var.sort_values(by="Estilo", ascending=False);
partDescFem = maiorNumero[maiorNumero["Genero"] == "Feminino"];
atletaComMaiorParticipacao = partDescFem.iloc[0]["Atleta"]
atletaComMaiorParticipacao

'Barbara Göbel'

In [11]:
# Questão 5
medalBronze = var.loc[var["Posicao"] == 3]
medalBronze["Equipe"].mode()

0    USA
Name: Equipe, dtype: object

Conclusão 1: As atletas do genero feminino desde 1920 são mais rapidas do que do genero massculino.

Concluão 2: Conforme foi passando os anos os atletas do genero masculino diminuiram a diferença de tempo das atletas do genero feminino.

Conclusão 3: Conforme os anos foi se passando o tempo foi melhorando drasticamente para ambos os generos.

Conclusão 4: O tempo em anos que os atletas do genero masculino levaram para melhorar o tempo na nos 100m foi melhor do que do genero feminino.

Conclusão 5: Enquanto os atletas do genero masculino continuam melhorando o seu tempo na modalidade, as atletas do genero feminino estabilizaram sem continuar melhorando no final do grafico.

Conclusão: Ambos os generos tiveram anos que pioravam o tempo na modalidade.